.backgroundItem {
  color: #ff1115;
  border-radius: 20px;
  background-color: white;
  height: 130px;
}

.sex {
  font-size: 40px;
}

.numberStyle {
  font-size: 32px;
  font-weight: 800;
  margin-top: -30px;
}

.cm {
  font-size: 16px;
  font-weight: 400;
  margin-left: 0px;
}
