<div class="register-form">
  <h2>Edit {{userDetails.username}} Profile</h2>
  <form [formGroup]="editUserForm" (ngSubmit)="submit()" novalidate>
    <div class="form-group">
      <label for="firstName">firstName:</label>
      <input class="form-control" type="text" id="firstName" [formControlName]="'firstName'" placeholder="first name" name="firstName">
    </div>
    <div class="form-group">
      <label for="lastName">lastName:</label>
      <input class="form-control" type="text" id="lastName" [formControlName]="'lastName'" placeholder="last name" name="lastName">
    </div>
    <div class="form-group">
      <label for="gender">gender:</label>
      <select class="form-control" id="gender" [formControlName]="'gender'" name="gender">
        <option value="M">Male</option>
        <option value="F">Female</option>
        <option value="">Prefer not to say</option>
      </select>
    </div>
    <div class="form-group">
      <label for="height">height:</label>
      <input class="form-control" type="number" id="height" [formControlName]="'height'" placeholder="height" name="height">
    </div>
    <div class="form-group">
      <label for="weight">weight:</label>
      <input class="form-control" type="number" id="weight" [formControlName]="'weight'" placeholder="weight" name="weight">
    </div>
    <div class="form-group">
      <label for="age">age:</label>
      <input class="form-control" type="number" id="age" [formControlName]="'age'" placeholder="age" name="age">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>
