<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
  <div class="links">
    <div class="link">
      <a class="anchor" routerLink="/login"><span>Login</span></a>
    </div>
    <div class="link">
      <a class="anchor" routerLink="/register"><span>Register</span></a>
    </div>
    <div class="link">
      <a class="anchor" routerLink="/bmi"><span>BMI Calculator</span></a>
    </div>
    <div class="title">
      <h1 routerLink="/user-store">{{title}}</h1>
    </div>
    <div class="link">
      <app-user-profile *ngIf="isLoggedIn()"></app-user-profile>
    </div>
    <div class="link">
      <app-logout *ngIf="isLoggedIn()"></app-logout>
    </div>
  </div>
  <router-outlet></router-outlet>
</body>
