<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
  <ul>
    <li>
      <a class="anchor" routerLink="/login"><span>Login</span></a>
    </li>
    <li>
      <a class="anchor" routerLink="/register"><span>Register</span></a>
    </li>
    <li>
      <a class="anchor" routerLink="/bmi"><span>BMI Calculator</span></a>
    </li>
    <li>
      <h1 routerLink="/user-store">{{title}}</h1>
    </li>
    <li>
      <app-logout *ngIf="isLoggedIn()"></app-logout>
    </li>
    <li>
      <app-user-profile *ngIf="isLoggedIn()"></app-user-profile>
    </li>
  </ul>
  <router-outlet></router-outlet>
</body>
