body {
  margin: 40px;
  display: flex;
  background-color: #1a1a1a;
}

h1 {
  display: block;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 1em;
  color: #5dd25e;
}

.btn-group {
  height: 300px;
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-items: stretch;
  align-items: inital;
  padding: 20px 24px;
  cursor: pointer;
  text-align: center;
  background-color: #1a1a1a;
  color: #fff;
  border: 5px solid #fff;
  border-radius: 4px;
  margin-bottom: 1px;
}

  .btn-group:hover {
    border-color: #5dd25e;
    background-color: #333333;
    cursor: pointer;
  }

.wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 50px;
  background-color: #333;
  color: #fff;
  align-items: center;
  padding: 0;
}

.quantity {
  color: #fff;
  border-radius: 5px;
  padding: 2px;
  font-size: 100%;
}

.price {
  color: #fff;
  border-radius: 5px;
  padding: 2px;
  font-size: 100%;
}

img {
  width: 100%;
  border-radius: 5px;
}

.image {
  grid-column-start: 1;
  grid-column-end: 5;
}

.column {
  margin: 0 1em;
  padding: 2em;
  background-color: #333333;
  border-radius: 5px;
}