h1 {
  text-align: center;
  color: #5dd25e;
}

a {
  float: right;
  border-radius: 4px;
  background-color: #5dd25e;
  border: 5px solid black;
  color: #fff;
  text-align: center;
  font-size: 28px;
  padding: 0.5em 0.2em;
  width: 200px;
  cursor: pointer;
  margin: 5px;
}

a span {
  cursor: pointer;
  display: inline-block;
  position: relative;
}


a:hover {
  color: #ffffff;
  background-color: #060;
}
