<body>
  <div *ngIf="product != null">
    <h1>{{ product.name }} Details</h1>
    <div><img src="{{ product.image }}" /></div>
    <br />
    <div><span>ID: </span>{{ product.id }}</div>
    <div><span>Calories: </span>{{ product.calories }}</div>
    <div><span>Price: </span>${{ product.price }}</div>
    <div><span>Stock: </span>{{ product.quantity }}</div>
    <br />
    <div class="productAmount">
      <span>Select Quantity: </span>
      <input
        type="range"
        min="1"
        max="{{ product.quantity }}"
        value="1"
        class="slider"
        id="myRange"
        #amountSelect
        (input)="amountInput(amountSelect.value)"
      />
      {{ currAmount }}
    </div>
    <div><span>Total Price: </span>${{ product.quantity * currAmount}}</div>
    <div><span>Total Calories: </span>{{ product.calories * currAmount}}</div>
    <br />
    <button type="button" (click)="backButton()">Go Back</button>
    <button type="button" (click)="addToCart(product, currAmount)">
      Add to Cart
    </button>
    <label [textContent]="this.message"></label>
  </div>
</body>
