.salad-maker {
    margin: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.salad-maker > h1 {
    color: #5dd25e;
    margin-bottom: 0.5rem;
}

.salad-maker > div {
    background-color: #333;
    padding: 2em;
    padding-top: 0;
}

.salad-maker > div > h2 {
    margin-top: 1em;
}

h1, h2, label, span {
    color: #fff;
}

.salad {
    color: #5dd25e;
}
.salad span {
    color: #fff;
}

.multiselect {
    display: grid;
    grid-template-columns: 2em 15em 5em 5em;
    justify-content: left;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }