h1, h2, label, span {
    color: #fff;
}

.salad {
    color: #5dd25e;
}
.salad span {
    color: #fff;
}

.multiselect {
    display: grid;
    grid-template-columns: 2em 15em 5em 5em;
    justify-content: left;
}