<div>
    <h1>Salad Maker</h1>
    <div>
        <h2>Ingredients</h2>
        <div *ngFor="let ingredient of Object.keys(ingredientsDict); let i = index;">
            <input type="checkbox" [id]=i [name]=ingredient [value]=ingredient
                (change)="onChange(ingredient, i, $event)" />
            <label [for]=ingredient>{{ ingredient }}</label>
        </div>

        <br />
        <label [textContent]="this.message"></label>
        <div class="salad">
            <label id="salad">Salad: 0000000000000-0-0</label> <br />
            <label id="price">Total Price: $0</label> <br />
            <label id="calories">Total Calories: 0</label>
        </div>
        <button type="button" (click)="backButton()">Go Back</button>
        <button type="button" (click)="clearSalad()">Clear</button>
        <button type="button" (click)="addToCart()">Save and Add to Cart</button>
    </div>
    <h2 *ngIf="username != null">
        <button class="cart" routerLink="/user-store/hritish/shopping-cart">
            <span>Shopping Cart</span>
        </button>
    </h2>
</div>