<div>
  <h2>Registration</h2>
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" #username>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" #password>
  </div>
  <div>
    <div *ngFor="let role of roles">
      <input type="checkbox" (change)="getCheckBoxValue($event)"id={{role.roleId}} name={{role.roleName}}>
      <label for={{role.roleName}}>{{role.roleName}}</label>
    </div>
  </div>
  <div>
    <button type="button" (click)="submit(username.value, password.value)">Register</button>
  </div>
  <div *ngIf="createdUsername">
    <span>{{createdUsername}} has been created!</span>
  </div>
</div>
