<div class="register-form">
  <h1>Registration</h1>
  <form [formGroup]="userForm" (ngSubmit)="submit()" novalidate>
    <div class="form-group">
      <div *ngIf="isSubmit;" class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        Registration is successful. Proceed to login
      </div>

      <label for="username">Username:</label>
      <input class="form-control" type="text" id="username" [formControlName]="'username'" placeholder="username"
        name="username" [ngClass]="{ 'is-invalid': f['username'].errors }" required>
      <div *ngIf="f['username'].errors" class="invalid-feedback">
        <div *ngIf="f['username'].errors['required']">Username is required</div>
        <div *ngIf="f['username'].errors['minlength']">
          Username must be at least 5 characters
        </div>
        <div *ngIf="f['username'].errors['maxlength']">
          Username must not exceed 20 characters
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input class="form-control" type="password" id="password" [formControlName]="'password'" placeholder="password"
        name="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,24}$"
        [ngClass]="{ 'is-invalid': f['password'].errors }" required />
      <div *ngIf="f['password'].errors" class="invalid-feedback">
        <div *ngIf="f['password'].errors['required']">Password is required</div>
        <div *ngIf="f['password'].errors['minlength']">
          Password must be at least 6 characters
        </div>
        <div *ngIf="f['password'].errors['maxlength']">
          Password must not exceed 40 characters
        </div>
        <div *ngIf="f['password'].errors['pattern']">
          Password must be of format Password123#
        </div>
      </div>
    </div>
    <!--Roles input checkbox removed because registration page only allows the creation of accounts with role user-->
    <div class="form-group">
      <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Register</button>
    </div>
    <div *ngIf="createdUsername">
      <span>{{createdUsername}} has been created!</span>
    </div>
  </form>
</div>