h2 {
  text-align: center;
  color: #5dd25e;
}
.backgroundItem {
  background-color: #275243;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  height: 430px;
}

.result {
  color: #27d500;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}
.numberStyle {
  font-size: 80px;
  font-weight: 700;
  padding-bottom: 45px;
  padding-top: 25px;
}

.interpretation {
  font-size: 18px;
  margin: 10px;
  text-align: center;
}
