<div id="search-component">
  <label for="search-box">Product Search </label>
  <input #searchBox id="search-box" (input)="search(searchBox.value)" />
  <ul class="search-result">
    <li *ngFor="let product of products$ | async" >
      <a routerLink="/user-product-view/{{username}}/{{product.id}}">
        {{product.name}}
      </a>
    </li>
  </ul>
  <label>Sort Prices</label>
  <select name="Sort Prices">
    <option (click)="ascendingPrice()">Lowest to Highest</option>
    <option (click)="descendingPrice()">Highest to Lowest</option>
  </select>
  <label>Sort Calories</label>
  <select name="Sort Calories">
    <option (click)="ascendingCalories()">Lowest to Highest</option>
    <option (click)="descendingCalories()">Highest to Lowest</option>
  </select>
  <div class="caloricRange">
    <span>Input Caloric Range: </span>
    <input
      type="range"
      min="1"
      max="{{ getHighestCalorie() }}"
      value="1"
      class="slider"
      id="myRange"
      #amountSelect
      (input)="amountInput(amountSelect.value)"
    />
    {{ currAmount }}
  </div>
  <button (click)="searchCalorieLessThanOrEqual(amountSelect.value)">Calorie Search</button>
  <form [formGroup]="searchCalories" (ngSubmit)="submit()" novalidate>
    <div class="form-group">
      <label for="startingCal">Starting Calorie:</label>
      <input class="form-control" type="number" id="height" [formControlName]="'startingCal'" placeholder="startingCal" name="startingCal">
    </div>
    <div class="form-group">
      <label for="endingCal">Ending Calorie:</label>
      <input class="form-control" type="number" id="endingCal" [formControlName]="'endingCal'" placeholder="ending calorie" name="endingCal">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
    <div *ngIf="error">
      <span>Error: Starting value cannot be larger than ending value</span>
    </div>
  </form>
</div>
